[submodule "garnet"]
	path = garnet
	url = https://github.com/CristianSarca/garnet
[submodule "aquarelle"]
	path = aquarelle
	url = https://github.com/CristianSarca/aquarelle
[submodule "chimera"]
	path = chimera
	url = https://github.com/CristianSarca/chimera
[submodule "nix"]
	path = nix
	url = https://github.com/CristianSarca/nix
[submodule "unedo"]
	path = unedo
	url = https://github.com/CristianSarca/unedo
[submodule "opis"]
	path = opis
	url = https://github.com/CristianSarca/opis
[submodule "comp"]
	path = comp
	url = https://github.com/CristianSarca/comp
